.body {
  font-family: Arial, sans-serif;
  color: #333;
}


/* Sekcia O firme */
.about {
  position: relative;
  width: 100%;
  height: 100vh;       /* plná výška viewportu */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #e0e0e0;
}

.about img {
  width: 90%;       /* zaberá celú šírku kontajnera */
  height: 90%;      /* zaberá celú výšku kontajnera */
  object-fit: cover; /* zachová pomer strán a oreže prebytočné */
}

.team {

  padding: 60px 20px;
  background-color: #f9f9e8;
  text-align: center;
}

.team h2 {
  margin-bottom: 40px;
  font-size: 32px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  justify-items: center;
}

.team-card {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card img {
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.team-info h3 {
  margin: 5px 0;
  font-size: 18px;
}

.team-info p {
  font-size: 14px;
  color: #555;
}
