ul {
  list-style: none;
  margin: 0;            
  padding: 0;          
  background-color: #819A91;
  display: flex;       
  justify-content: center; 
  width: 100%;          
}


li {
  padding: 20px 20px;   
  font-size: 16px;
  cursor: pointer;
  color: white;        
  transition: background-color 0.3s ease, transform 0.3s ease; /* pridáme animáciu */
}

li:hover {
  background-color: #6b7f78;  /* farba pri hover */
  
}